$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-2: rgba(0, 0, 0, 0.2);
$shadow-5: rgba(0, 0, 0, 0.5);
$shadow-8: rgba(0, 0, 0, 0.8);
$shadow-inset: rgba(255, 255, 255, 0.5);

$header-size: 1.0625rem;


//palette
$header-dark: #050505; 
$subheader-dark: #1c1e21;
$accent: hsl(214, 89%, 52%);


