.tab__list {
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.tab__base, .tab__base--desktop, .tab__base--mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-grow: 1;
  font-size: 25px;
  max-width: calc(15vw - 55px);
  min-width: 50px;
  margin-right: 5px;
}

@media (min-width: 1100px) {
  .tab__base, .tab__base--desktop, .tab__base--mobile {
    max-width: 111.59px;
    flex-basis: auto;
  }
}

@media (min-width: 1380px) {
  .tab__base, .tab__base--desktop, .tab__base--mobile {
    max-width: 129.59px;
    flex-basis: auto;
  }
}

.tab__base--desktop {
  display: none;
}

@media (min-width: 700px) {
  .tab__base--desktop {
    display: flex;
  }
}

.tab__base--mobile {
  display: flex;
  flex: 0 1 50px;
  width: 50px;
  height: 100%;
  min-height: 56px;
}

@media (min-width: 700px) {
  .tab__base--mobile {
    display: none;
  }
}

.tab__indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  z-index: 9999999999;
  background-color: blue;
  transition: all 0.3s ease;
}
