.menuNotifications{
    background-color: white;
    padding: 8px;
    @include menuBoxShadow();

    //temporary
    @include viewHelper();

    &__header{

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding-bottom: 0;
    }

    &__headerIcon{
        position: relative;
        left: -3px;
        font-size: 20px;
    }

    &__dot{
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: $accent;
    }
}