.menuNotifications {
    background-color: $bg-menu;
    padding: 8px;
    border-radius: $card-border-radius;
    //@include menuBoxShadow();
    overflow: scroll;
    @include customScrollbar();
    max-height: 585px;  
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px;
        padding-bottom: 0;
    }

    &__headerIcon {
        position: relative;
        left: -3px;
        font-size: 20px;
    }

    &__dot {
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: $accent;
        position: absolute;
        top: 50%;
        right: 7px;
        transform: translateY(-50%);

        &--withText {
            height: auto;
            width: auto;
            border-radius: 5px;
            background-color: $bg-positive;
            color: #31a24c;
            font-size: 10px;
            font-weight: 700;
        }
    }
}
