.menuMessenger {
    padding: 8px;
    padding-right: 0;
    background-color: $bg-menu;
    border-radius: $card-border-radius;
    max-height: 585px;
    overflow: scroll;
    @include customScrollbar();

    
    &__header {
        display: flex;
        align-items: center;
        padding: 8px;
    }
    &__title {
        flex: 1;
    }

    &__actions {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 16px;
    }

    &__search {
        padding: 8px;
        height: 52px;
        input {
            //background-color: aquamarine;
        }
    }
}
